src/wadl/rackconnect.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2012 OpenStack LLC., All Rights Reserved -->

<application 
	xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
	xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
	xmlns:raxapi="http://docs.rackspace.com/volume/api/v1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--=======================================================-->
  <!-- RESOURCES begin here;
            RESOURCES call METHODS 
            defined in METHODS section-->
  <!--=======================================================-->
	
  	<!-- endpoint = 
  	https://<region>.rackconnect.api.rackspacecloud.com/v3/tenantId/
    per 
    http://www.rackspace.com/knowledge_center/article/
  		rackconnect-v30-api-add-and-remove-public-ip-addresses
  	-->
<resources base="https://dfw.rackconnect.api.rackspacecloud.com/">
    <resource 
    	id="version" 
    	path="v3">
        <resource 
        	id="tenant_id" 
        	path="{tenant_id}">
	        <param name="tenant_id" 
	        	style="template"
	        	required="true" 
	        	type="xsd:string">
	            <wadl:doc 
	            	xmlns="http://docbook.org/ns/docbook">
	                 <para>
	      				The unique identifier of the tenant or account
	     			    in a multi-tenancy cloud.
	    			 </para>
	  			</wadl:doc>
			</param>
    <!-- ========================================= -->
    <!-- resources for *cloud networks* begin here -->    	
	<resource 
		id="cloud_networks" 
		path="cloud_networks">
	  <wadl:doc 
	  	title="Cloud networks"/>   
	  <method 
	  	href="#listAllNetworks" />
	  
		<resource 
			id="network_id" 
			path="{network_id}" >
	    	<param name="network_id" 
	    		style="template"
	    		required="true"
	    		type="xsd:string">
	     	<wadl:doc 
	     		xmlns="http://docbook.org/ns/docbook">
	      		<para>
					The unique identifier of a network.
	      		</para>
	       </wadl:doc>
		   </param>
	  	<method 
	  		href="#retrieve1Network" />
	  </resource>
		
	</resource>
    <!-- resources for *cloud networks* end here --> 
    <!-- ========================================= -->
    <!-- resources for *load balancer pools* begin here -->    	
    <resource 
    	id="load_balancer_pools" 
    	path="load_balancer_pools">
      <wadl:doc 
      	title="Load balancer pools"/>   
        		<method href="#listAllLBPools" />

    	<resource 
    		id="load_balancer_pool_id" 
    		path="{load_balancer_pool_id}">
    		<param name="load_balancer_pool_id" 
    			style="template"
    			required="true"
    			type="xsd:string">
    			<wadl:doc 
    				xmlns="http://docbook.org/ns/docbook">
    				<para>
    					The unique identifier of a load balancer pool.
    				</para>
    			</wadl:doc>
    		</param>
    		<method href="#summary1LBPool" />
    		<resource 
    			id="nodes" 
    			path="nodes">
    			<method href="#listNodes1LBPool" />
    			<method href="#addNode1LBPool" />
    		</resource>
    			<resource 
    				id="details" 
    				path="details">
    			<method href="#detail1LBPool" />
    		</resource>
    	</resource>

     </resource>
    <!-- resources for *load balancer pools* end here -->
    <!-- ========================================= -->
    <!-- resources for *public IPs* begin here -->    	
    <resource 
    	id="public_ips" 
    	path="public_ips">
      <wadl:doc title="Public IPs"/>   
    	<method href="#listAllPublicIPs" />
    	<method href="#add1PublicIP" />
    	<resource
    		id="cloud_server_UUID" 
    		path="cloud_server_id">
    	<param 
    		name="cloud_server_UUID" 
    		style="query"
    		type="xsd:string">
    		<wadl:doc 
    			xmlns="http://docbook.org/ns/docbook">
    			<para>
    				The UUID of a cloud server.
    			</para>
    		</wadl:doc>
    	</param>
    	<method 
    		href="#listPublicIPs1server" />
    	</resource>
    	
    	<resource 
    		id="public_IP_id" 
    		path="{public_IP_id}">
    		<param name="public_IP_id" 
    			style="template"
    			required="true"
    			type="xsd:string">
    			<wadl:doc 
    				xmlns="http://docbook.org/ns/docbook">
    				<para>
    					The unique identifier of a public IP.
    				</para>
    			</wadl:doc>
    		</param>
    		<method href="#retrieve1publicIP" />
    		<method href="#delete1publicIP" />
    	</resource>    	
    	
    </resource>
    <!-- resources for *public IPs* end here -->
    <!-- ========================================= -->
      </resource>
    </resource>
  </resources>
	<!--=======================================================-->
	<!-- RESOURCES end here -->
	<!--=======================================================-->
	<!--=======================================================-->
	<!-- METHODS begin here 
	          METHODS are called by RESOURCES 
	          defined in RESOURCES section-->
	<!--=======================================================-->
	<!--*******************************************************-->
	<!-- List all networks -->
	<!--*******************************************************-->
	<method 
		id="listAllNetworks" 
		name="GET">
		<wadl:doc 
			title="List all cloud networks"
			xml:lang="EN" 
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">
				List details for all cloud networks. 
			</para>
			<para>This operation 
				lists details for 
				all cloud networks 
				available to <code>tenant_id</code>.
			</para>
		</wadl:doc>
		<!-- no request body = no sample request -->
		<response 
			status="200" 
			xmlns="http://wadl.dev.java.net/2009/02">
			<doc 
				title="OK" 
				xml:lang="EN">Success.</doc>
			<representation 
				mediaType="application/json">
				<wadl:doc 
					xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/rc3-allNetworks-response.json"
					/>
				</wadl:doc>
			</representation>
		</response>
	</method>
	<!--*******************************************************-->
	<!-- List details about one network -->
	<!--*******************************************************-->
	<method 
		id="retrieve1Network"
		name="GET">
		<wadl:doc 
			title="Retrieve one cloud network"
			xmlns="http://docbook.org/ns/docbook"
			xml:lang="EN">
			<para role="shortdesc">
				List details for one cloud network. 
			</para>
			<para>This operation 
				lists details for 
				one cloud network 
				identified by <code>network_id</code>.
			</para>
		</wadl:doc>
		<!-- no request body = no sample request -->
		<response 
			status="200"
			xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="OK">Success.</doc>
			<representation 
				mediaType="application/json">
			<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/rc3-1Network-response.json"
					/>
			</wadl:doc>
			</representation>
		</response>
	</method>
	<!--*******************************************************-->
	<!-- List all load balancer pools -->
	<!--*******************************************************-->
	<method 
		id="listAllLBPools"
		name="GET">
		<wadl:doc 
			title="List all load balancer pools"
			xml:lang="EN"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">
				List details for all load balancer pools. 
			</para>
			<para>This operation 
				lists details for 
				all load balancer pools 
				available to <code>tenant_id</code>.
			</para>
		</wadl:doc>
		<!-- no request body = no sample request -->
		<response 
			status="200" 
			xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="OK" xml:lang="EN">Success.</doc>
			<representation 
				mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/rc3-allLBPools-response.json"
					/>
				</wadl:doc>
			</representation>
		</response>
	</method>
	<!--*******************************************************-->
	<!-- List basic info about one load balancer pool -->
	<!--*******************************************************-->
	<method 
		id="summary1LBPool"
		name="GET">
		<wadl:doc 
			title="Summarize one load balancer pool"
			xml:lang="EN"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">
				List summary for one load balancer pool. 
			</para>
			<para>This operation 
				provides basic information about 
				one load balancer pool 
				identified by <code>load_balancer_pool_id</code>.
			</para>
		</wadl:doc>
		<!-- no request body = no sample request -->
		<response 
			status="200">
			<doc title="OK">Success.</doc>
			<representation 
				mediaType="application/json">
				<wadl:doc 
					xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/rc3-1LBPool-response.json"
					/>
				</wadl:doc>
			</representation>
		</response>
	</method>
	<!--*******************************************************-->
	<!-- List details about one load balancer pool -->
	<!--*******************************************************-->
	<method 
		id="detail1LBPool"
		name="GET">
		<wadl:doc 
			title="Show details for one load balancer pool"
			xml:lang="EN"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">
				List details for one load balancer pool. 
			</para>
			<para>This operation 
				provides detailed information about 
				all the nodes in 
				one load balancer pool 
				identified by <code>load_balancer_pool_id</code>.
			</para>
		</wadl:doc>
		<!-- no request body = no sample request -->
		<response 
			status="200">
			<doc title="OK">Success.</doc>
			<representation 
				mediaType="application/json">
				<wadl:doc 
					xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/rc3-1LBPool-allNodes-details-response.json"
					/>
				</wadl:doc>
			</representation>
		</response>
	</method>
	<!--*******************************************************-->
	<!-- List details about all the nodes                       -->
	<!-- in	one load balancer pool                             -->
	<!--*******************************************************-->
	<method 
		id="listNodes1LBPool"
		name="GET">
		<wadl:doc 
			title="List the nodes in one load balancer pool"
			xml:lang="EN"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">
				List nodes for one load balancer pool. 
			</para>
			<para>This operation 
				lists the nodes in 
				one load balancer pool 
				identified by <code>load_balancer_pool_id</code>.
			</para>
		</wadl:doc>
		<!-- no request body = no sample request -->
		<response 
			status="200">
			<doc title="OK">Success.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/rc3-1LBPool-allnodes-response.json"
					/>
				</wadl:doc>
			</representation>
		</response>
	</method>
	<!--*******************************************************-->
	<!-- Add one node                                          -->
	<!-- to	one load balancer pool                             -->
	<!--*******************************************************-->
	<method 
		id="addNode1LBPool"
		name="POST">
		<wadl:doc 
			title="Add node to load balancer pool"
			xml:lang="EN"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">
				Add node to load balancer pool. 
			</para>
			<para>This operation 
				a node to 
				one load balancer pool 
				identified by <code>load_balancer_pool_id</code>.
			</para>
		</wadl:doc>
		<request>
			<representation 
				mediaType="application/json">
				<wadl:doc xml:lang="EN">
					<xsdxt:code 
						href="../wadl/samples/rc3-1LBPool-addnode-request.json"/>
				</wadl:doc>
			</representation>
		</request>
		<response 
			status="200">
			<doc title="OK">Success.</doc>
			<representation 
				mediaType="application/json">
				<wadl:doc 
					xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/rc3-1LBPool-addnode-response.json"
					/>
				</wadl:doc>
			</representation>
		</response>
	</method>
	<!--*******************************************************-->
	<!-- List all public IPs -->
	<!--*******************************************************-->
	<method 
		id="listAllPublicIPs"
		name="GET">
		<wadl:doc 
			title="List all public IPs"
			xml:lang="EN" 
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">
				List details for all public IPs. 
			</para>
			<para>This operation 
				lists details for 
				all public IPs 
				available to <code>tenant_id</code>.
			</para>
		</wadl:doc>
		<!-- no request body = no sample request -->
		<response 
			status="200" 
			xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="OK" xml:lang="EN">Success.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/rc3-allPublicIPs-response.json"
					/>
				</wadl:doc>
			</representation>
		</response>
	</method>
	<!--*******************************************************-->
	<!-- Add one public IP -->
	<!--*******************************************************-->
	<method 
		id="add1PublicIP"
		name="POST">
		<wadl:doc 
			title="Add one public IP"
			xml:lang="EN" 
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">
				Add one public IP. 
			</para>
			<para>This operation 
				provisions a new
				public IP 
				for <code>tenant_id</code>.
			</para>
		</wadl:doc>
		<request>
			<representation 
				mediaType="application/json">
				<wadl:doc xml:lang="EN">
					<xsdxt:code 
						href="../wadl/samples/rc3-addPublicIP-request.json"/>
				</wadl:doc>
			</representation>
		</request>
		<response 
			status="200" 
			xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="OK" xml:lang="EN">Success.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/rc3-addPublicIP-response.json"
					/>
				</wadl:doc>
			</representation>
		</response>
	</method>
	<!--*******************************************************-->
	<!-- List all public IPs for one cloud server -->
	<!--*******************************************************-->
	<method 
		id="listPublicIPs1server"
		name="GET">
		<wadl:doc 
			title="List public IPs for a server"
			xml:lang="EN"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">
				List public IPs for a server. 
			</para>
			<para>This operation 
				lists all
				public IPs 
				for <code>cloud_server_id</code>.
			</para>
		</wadl:doc>
		<request
			xmlns="http://wadl.dev.java.net/2009/02">
			<param 
				id="cloud_server_id" 
				style="query"
				type="xsd:string"
				required="true"
				xmlns="http://wadl.dev.java.net/2009/02"/>
		</request>
		<!-- no request body = no sample request -->
		<response 
			status="200" 
			xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="OK" xml:lang="EN">Success.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/rc3-allPublicIPs1server-response.json"
					/>
				</wadl:doc>
			</representation>
		</response>
	</method>
	<!--*******************************************************-->
	<!-- List details about one public IP -->
	<!--*******************************************************-->
	<method 
		id="retrieve1publicIP"
		name="GET">
		<wadl:doc 
			title="Retrieve one public IP"
			xmlns="http://docbook.org/ns/docbook"
			xml:lang="EN">
			<para role="shortdesc">
				List details for one public IP. 
			</para>
			<para>This operation 
				lists details for 
				one public IP 
				identified by <code>public_IP_id</code>.
			</para>
		</wadl:doc>
		<!-- no request body = no sample request -->
		<response 
			status="200"
			xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="OK">Success.</doc>
			<representation 
				mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/rc3-1PublicIP-retrieve-response.json"
					/>
				</wadl:doc>
			</representation>
		</response>
	</method>
	<!--*******************************************************-->
	<!-- Delete one public IP -->
	<!--*******************************************************-->
	<method 
		id="delete1publicIP"
		name="DELETE">
		<wadl:doc 
			title="Delete one public IP"
			xmlns="http://docbook.org/ns/docbook"
			xml:lang="EN">
			<para role="shortdesc">
				Delete one public IP. 
			</para>
			<para>This operation 
				deletes 
				one public IP 
				identified by <code>public_IP_id</code>.
			</para>
		</wadl:doc>
		<!-- no request body = no sample request -->
		<!-- no response body = no sample response -->
	</method>
	<!--=======================================================-->
	<!-- METHODS end here -->
	<!--=======================================================-->
</application>
