src/wadl/rackconnect.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2012 OpenStack LLC., All Rights Reserved -->

<application 
	xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
	xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
	xmlns:raxapi="http://docs.rackspace.com/volume/api/v1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--=======================================================-->
  <!-- RESOURCES begin here;
            RESOURCES call METHODS 
            defined in METHODS section-->
  <!--=======================================================-->
	
  	<!-- endpoint = 
  	https://<region>.rackconnect.api.rackspacecloud.com/v3/tenantId/
    per 
    http://www.rackspace.com/knowledge_center/article/
  		rackconnect-v30-api-add-and-remove-public-ip-addresses
  	-->
<resources base="https://dfw.rackconnect.api.rackspacecloud.com/">
    <resource 
    	id="version" 
    	path="v3">
        <resource 
        	id="tenant_id" 
        	path="{tenant_id}">
	        <param name="tenant_id" 
	        	style="template"
	        	required="true" 
	        	type="xsd:string">
	            <wadl:doc 
	            	xmlns="http://docbook.org/ns/docbook">
	                 <para>
	      				Specifies the unique identifier of the tenant or account
	     			    in a multi-tenancy cloud.
	    			 </para>
	  			</wadl:doc>
			</param>
    <!-- ========================================= -->
    <!-- resources for *cloud networks* begin here -->    	
	<resource 
		id="cloud_networks" 
		path="cloud_networks">
	  <wadl:doc 
	  	title="Cloud networks"/>   
	  <method 
	  	href="#cloudNetworks-listall" />
	  
		<resource 
			id="network_id" 
			path="{network_id}" >
	    	<param name="network_id" 
	    		style="template"
	    		required="true"
	    		type="xsd:string">
	     	<wadl:doc 
	     		xmlns="http://docbook.org/ns/docbook">
	      		<para>
					Specifies the unique identifier of a network.
	      		</para>
	       </wadl:doc>
		   </param>
	  	<method 
	  		href="#cloudNetworks-list1" />
	  </resource>
		
	</resource>
    <!-- resources for *cloud networks* end here --> 
    <!-- ========================================= -->
    <!-- resources for *load balancer pools* begin here -->    	
    <resource 
    	id="load_balancer_pools" 
    	path="load_balancer_pools">
      <wadl:doc 
      	title="Load balancer pools"/>   
        		<method href="#LBPools-listall" />

    	<resource 
    		id="load_balancer_pool_id" 
    		path="{load_balancer_pool_id}">
    		<param name="load_balancer_pool_id" 
    			style="template"
    			required="true"
    			type="xsd:string">
    			<wadl:doc 
    				xmlns="http://docbook.org/ns/docbook">
    				<para>
    					Specifies the unique identifier of a load balancer pool.
    				</para>
    			</wadl:doc>
    		</param>
    		<method href="#LBPools-list1" />
    	</resource>
    		<resource 
    			id="nodes" 
    			path="nodes">
    			<method href="#LBPools-nodes-listall" />
    			<method href="#LBPools-nodes-add1" />
    		</resource>
    			<resource 
    				id="details" 
    				path="details">
    				<method href="#LBPools-nodes-listall-details" />
    		</resource>
    	</resource>

     </resource>
    <!-- resources for *load balancer pools* end here -->
    <!-- ========================================= -->
    <!-- resources for *public IPs* begin here -->    	
    <resource 
    	id="public_ips" 
    	path="public_ips">
      <wadl:doc title="Public IPs"/>   
    	<method href="#publicIPs-listall" />
    	<method href="#publicIPs-add1" />
    	<resource
    		id="cloud_server_UUID" 
    		path="cloud_server_id">
    	<param 
    		name="cloud_server_id" 
    		style="query"
    		type="xsd:string">
    		<wadl:doc 
    			xmlns="http://docbook.org/ns/docbook">
    			<para>
    				Specifies the UUID of a cloud server.
    			</para>
    		</wadl:doc>
    	</param>
    	<method 
    		href="#publicIPs-cloudServers-list1" />
    	</resource>
    	
    	<resource 
    		id="public_IP_id" 
    		path="{public_IP_id}">
    		<param name="public_IP_id" 
    			style="template"
    			required="true"
    			type="xsd:string">
    			<wadl:doc 
    				xmlns="http://docbook.org/ns/docbook">
    				<para>
    					Specifies the unique identifier of a public IP address.
    				</para>
    			</wadl:doc>
    		</param>
    		<method href="#publicIPs-list1" />
    		<method href="#publicIPs-delete1" />
    	</resource>    	
    	
    </resource>
    <!-- resources for *public IPs* end here -->
    <!-- ========================================= -->
      </resource>
  </resources>
	<!--=======================================================-->
	<!-- RESOURCES end here -->
	<!--=======================================================-->
	<!--=======================================================-->
	<!-- METHODS begin here 
	          METHODS are called by RESOURCES 
	          defined in RESOURCES section -->
	<!-- alphabetize this section by method-id, for findability;
		 order in the published doc is controlled by
		 rackconnect-devguide.xml -->
	<!--=======================================================-->
	<!--+++++ methods related to cloud networks           +++++-->
	<!--*******************************************************-->
	<!-- List details about one network 
		 id="cloudNetworks-list1"-->
	<!--*******************************************************-->
	<method 
		id="cloudNetworks-list1"
		name="GET">
		<wadl:doc 
			title="List one cloud network"
			xmlns="http://docbook.org/ns/docbook"
			xml:lang="EN">
			<para role="shortdesc">
				List details for one cloud network. 
			</para>
			<para>This operation 
				lists details for 
				the cloud network 
				identified by the specified <code>network_id</code>.
			</para>
		</wadl:doc>
		<request>
			<representation 
				mediaType="application/json">
				<wadl:doc xml:lang="EN">
					<xsdxt:code 
						href="../wadl/samples/rc3-cloudNetworks-list1-request.json"/>
				</wadl:doc>
			</representation>
		</request>
		<response 
			status="200"
			xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="OK">Success.</doc>
			<representation 
				mediaType="application/json">
			<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/rc3-cloudNetworks-list1-response.json"
					/>
			</wadl:doc>
			</representation>
		</response>
		<response status="400">
			<doc title="Bad request" xml:lang="EN">The input was not in the correct format.</doc>
			<representation mediaType="application/json"/>
		</response>
		<response status="404">
			<doc title="Not found" xml:lang="EN">The requested item was not found.</doc>
			<representation mediaType="application/json"/>
		</response>
		<response status="500">
			<doc title="Internal server error" xml:lang="EN">An unexpected error has occurred.</doc>
			<representation mediaType="application/json"/>
		</response>
	</method>
	<!--*******************************************************-->
	<!-- List all networks 
		 id="cloudNetworks-listall"-->
	<!--*******************************************************-->
	<method 
		id="cloudNetworks-listall" 
		name="GET">
		<wadl:doc 
			title="List all cloud networks"
			xml:lang="EN" 
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">
				List details for all cloud networks. 
			</para>
			<para>This operation 
				lists details for 
				all the cloud networks 
				available to the specified <code>tenant_id</code>.
			</para>
		</wadl:doc>
		<request>
			<representation 
				mediaType="application/json">
				<wadl:doc xml:lang="EN">
					<xsdxt:code 
						href="../wadl/samples/rc3-cloudNetworks-listall-request.json"/>
				</wadl:doc>
			</representation>
		</request>
		<response 
			status="200" 
			xmlns="http://wadl.dev.java.net/2009/02">
			<doc 
				title="OK" 
				xml:lang="EN">Success.</doc>
			<representation 
				mediaType="application/json">
				<wadl:doc 
					xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/rc3-cloudNetworks-listall-response.json"
					/>
				</wadl:doc>
			</representation>
		</response>
		<response status="400">
			<doc title="Bad request" xml:lang="EN">The input was not in the correct format.</doc>
			<representation mediaType="application/json"/>
		</response>
		<response status="404">
			<doc title="Not found" xml:lang="EN">The requested item was not found.</doc>
			<representation mediaType="application/json"/>
		</response>
		<response status="500">
			<doc title="Internal server error" xml:lang="EN">An unexpected error has occurred.</doc>
			<representation mediaType="application/json"/>
		</response>
	</method>
	<!--+++++ methods related to load balancer pools      +++++-->
	<!--*******************************************************-->
	<!-- List basic info about one load balancer pool 
		 id="LBPools-list1"-->
	<!--*******************************************************-->
	<method 
		id="LBPools-list1"
		name="GET">
		<wadl:doc 
			title="List one load balancer pool"
			xml:lang="EN"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">
				List summary for one load balancer pool. 
			</para>
			<para>This operation 
				provides basic information about 
				the load balancer pool 
				identified by the specified <code>load_balancer_pool_id</code>.
			</para>
		</wadl:doc>
		<request>
			<representation 
				mediaType="application/json">
				<wadl:doc xml:lang="EN">
					<xsdxt:code 
						href="../wadl/samples/rc3-LBPools-list1-request.json"/>
				</wadl:doc>
			</representation>
		</request>
		<response 
			status="200">
			<doc title="OK">Success.</doc>
			<representation 
				mediaType="application/json">
				<wadl:doc 
					xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/rc3-LBPools-list1-response.json"
					/>
				</wadl:doc>
			</representation>
		</response>
		<response status="400">
			<doc title="Bad request" xml:lang="EN">The input was not in the correct format.</doc>
			<representation mediaType="application/json"/>
		</response>
		<response status="404">
			<doc title="Not found" xml:lang="EN">The requested item was not found.</doc>
			<representation mediaType="application/json"/>
		</response>
		<response status="500">
			<doc title="Internal server error" xml:lang="EN">An unexpected error has occurred.</doc>
			<representation mediaType="application/json"/>
		</response>
	</method>
	<!--*******************************************************-->
	<!-- List all load balancer pools 
		 id="LBPools-listall"-->
	<!--*******************************************************-->
	<!--+++++ methods related to load balancer pool nodes +++++-->
	<method 
		id="LBPools-listall"
		name="GET">
		<wadl:doc 
			title="List all load balancer pools"
			xml:lang="EN"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">
				List details for all load balancer pools. 
			</para>
			<para>This operation 
				lists details for 
				all load balancer pools 
				available to the specified <code>tenant_id</code>.
			</para>
		</wadl:doc>
		<request>
			<representation 
				mediaType="application/json">
				<wadl:doc xml:lang="EN">
					<xsdxt:code 
						href="../wadl/samples/rc3-LBPools-listall-request.json"/>
				</wadl:doc>
			</representation>
		</request>
		<response 
			status="200" 
			xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="OK" xml:lang="EN">Success.</doc>
			<representation 
				mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/rc3-LBPools-listall-response.json"
					/>
				</wadl:doc>
			</representation>
		</response>
		<response status="400">
			<doc title="Bad request" xml:lang="EN">The input was not in the correct format.</doc>
			<representation mediaType="application/json"/>
		</response>
		<response status="404">
			<doc title="Not found" xml:lang="EN">The requested item was not found.</doc>
			<representation mediaType="application/json"/>
		</response>
		<response status="500">
			<doc title="Internal server error" xml:lang="EN">An unexpected error has occurred.</doc>
			<representation mediaType="application/json"/>
		</response>
	</method>
	<!--*******************************************************-->
	<!-- Add one node                                           
	 	 to	one load balancer pool 
		 id="LBPools-nodes-add1"-->
	<!--*******************************************************-->
	<method 
		id="LBPools-nodes-add1"
		name="POST">
		<wadl:doc 
			title="Add node to load balancer pool"
			xml:lang="EN"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">
				Add node to load balancer pool. 
			</para>
			<para>This operation 
				adds a node to 
				one load balancer pool 
				identified by <code>load_balancer_pool_id</code>.
			</para>
		</wadl:doc>
		<request>
			<representation 
				mediaType="application/json">
				<wadl:doc xml:lang="EN">
					<xsdxt:code 
						href="../wadl/samples/rc3-LBPools-nodes-add1-request.json"/>
				</wadl:doc>
			</representation>
		</request>
		<response 
			status="201">
			<doc title="OK">Created</doc>
			<representation 
				mediaType="application/json">
				<wadl:doc 
					xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/rc3-LBPools-nodes-add1-response.json"
					/>
				</wadl:doc>
			</representation>
		</response>
		<response status="400">
			<doc title="Bad request" xml:lang="EN">The input was not in the correct format.</doc>
			<representation mediaType="application/json"/>
		</response>
		<response 
			status="409">
			<doc title="Conflict">Conflict</doc>
			<wadl:doc 
				title="Add node to load balancer pool"
				xml:lang="EN"
				xmlns="http://docbook.org/ns/docbook">
				<para>
					Cloud Server {cloud_server_id} does not exist
				</para>
				<para>
					or
				</para>
				<para>	
					Cloud Server {cloud_server_id} 
					is already a member of 
					Load Balancer Pool {load_balancer_pool_id}
				</para>
				<para>	
					or
				</para>
				<para>	
					Load Balancer Pool {load_balancer_pool_id} 
					is not in an ACTIVE state
				</para>
			</wadl:doc>
		</response>
		<response status="500">
			<doc title="Internal server error" xml:lang="EN">An unexpected error has occurred.</doc>
			<representation mediaType="application/json"/>
		</response>
	</method>
	<!--*******************************************************-->
	<!-- Add bulk nodes                                        
	 	 to	one load balancer pool
		 id="LBPools-nodes-addbulk"-->
	<!--*******************************************************-->
	<method 
		id="LBPools-nodes-addbulk"
		name="POST">
		<wadl:doc 
			title="Add nodes to load balancer pool"
			xml:lang="EN"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">
				Add nodes to load balancer pool. 
			</para>
			<para>This operation 
				adds nodes specified in bulk to 
				one load balancer pool 
				identified by <code>load_balancer_pool_id</code>.
			</para>
		</wadl:doc>
		<request>
			<representation 
				mediaType="application/json">
				<wadl:doc xml:lang="EN">
					<xsdxt:code 
						href="../wadl/samples/rc3-LBPools-nodes-addbulk-request.json"/>
				</wadl:doc>
			</representation>
		</request>
		<response 
			status="201">
			<doc title="OK">Created.</doc>
			<representation 
				mediaType="application/json">
				<wadl:doc 
					xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/rc3-LBPools-nodes-addbulk-response-201Created.json"
					/>
				</wadl:doc>
			</representation>
		</response>
		<response status="400">
			<doc title="Bad request" xml:lang="EN">The input was not in the correct format.</doc>
			<representation mediaType="application/json"/>
		</response>
		<response 
			status="409">
			<doc title="Conflict">Conflict.</doc>
			<representation 
				mediaType="application/json">
				<wadl:doc 
					xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/rc3-LBPools-nodes-addbulk-response-409Conflict.json"
					/>
				</wadl:doc>
			</representation>
		</response>
		<response status="500">
			<doc title="Internal server error" xml:lang="EN">An unexpected error has occurred.</doc>
			<representation mediaType="application/json"/>
		</response>
	</method>
	<!--*******************************************************-->
	<!-- Delete one node                                       
		 from one load balancer pool
		 id="LBPools-nodes-delete1"-->
	<!--*******************************************************-->
	<method 
		id="LBPools-nodes-delete1"
		name="POST">
		<wadl:doc 
			title="Delete node from load balancer pool"
			xml:lang="EN"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">
				Delete node from load balancer pool. 
			</para>
			<para>This operation 
				deletes one node 
				identified by <code>node_id</code>
				from 
				one load balancer pool 
				identified by <code>load_balancer_pool_id</code>.
			</para>
		</wadl:doc>
		<!-- no request body = no sample request -->
		<response 
			status="204">
			<doc title="OK">(No Content)</doc>
		</response>
		<response status="400">
			<doc title="Bad request" xml:lang="EN">The input was not in the correct format.</doc>
			<representation mediaType="application/json"/>
		</response>
		<response 
			status="409">
			<doc title="Conflict">Conflict</doc>
			<wadl:doc 
				title="Delete node from load balancer pool"
				xml:lang="EN"
				xmlns="http://docbook.org/ns/docbook">
				<para>
					Cloud Server {cloud_server_id} does not exist
				</para>
				<para>
					or
				</para>
				<para>	
					Node {load_balancer_pool_node_id} 
					is not a member of 
					Load Balancer Pool {load_balancer_pool_id}
				</para>
				<para>	
					or
				</para>
				<para>	
					Load Balancer Pool {load_balancer_pool_id} 
					is not in an ACTIVE state
				</para>
				<para>	
					or
				</para>
				<para>	
					Load Balancer Pool Node {load_balancer_pool_node_id} 
					is not in an ACTIVE state
				</para>
			</wadl:doc>
		</response>
		<response status="500">
			<doc title="Internal server error" xml:lang="EN">An unexpected error has occurred.</doc>
			<representation mediaType="application/json"/>
		</response>
	</method>
	<!--*******************************************************-->
	<!-- Delete bulk nodes                                     
	 	 from one load balancer pool
		 id="LBPools-nodes-deletebulk"-->
	<!--*******************************************************-->
	<method 
		id="LBPools-nodes-deletebulk"
		name="POST">
		<wadl:doc 
			title="Delete nodes from load balancer pool"
			xml:lang="EN"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">
				Delete nodes from load balancer pool. 
			</para>
			<para>This operation 
				deletes nodes specified in bulk from 
				one load balancer pool 
				identified by <code>load_balancer_pool_id</code>.
			</para>
		</wadl:doc>
		<request>
			<representation 
				mediaType="application/json">
				<wadl:doc xml:lang="EN">
					<xsdxt:code 
						href="../wadl/samples/rc3-LBPools-nodes-deletebulk-request.json"/>
				</wadl:doc>
			</representation>
		</request>
		<response 
			status="204">
			<doc title="OK">(No Content)</doc>
		</response>
		<response status="400">
			<doc title="Bad request" xml:lang="EN">The input was not in the correct format.</doc>
			<representation mediaType="application/json"/>
		</response>
		<response 
			status="409">
			<doc title="Conflict">Conflict</doc>
			<representation 
				mediaType="application/json">
				<wadl:doc 
					xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/rc3-LBPools-nodes-deletebulk-response-409Conflict.json"
					/>
				</wadl:doc>
			</representation>
		</response>
		<response status="500">
			<doc title="Internal server error" xml:lang="EN">An unexpected error has occurred.</doc>
			<representation mediaType="application/json"/>
		</response>
	</method>
	<!--*******************************************************-->
	<!-- List details about all the nodes                       
	  	 in	one load balancer pool
		 id="LBPools-nodes-listall"-->
	<!--*******************************************************-->
	<method 
		id="LBPools-nodes-list1-details"
		name="GET">
		<wadl:doc 
			title="List details for one node"
			xml:lang="EN"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">
				List details for one node. 
			</para>
			<para>This operation 
				lists details for 
				one node 
				identified by the specified <code>node_id</code> 
				in 
				one load balancer pool 
				identified by the specified <code>load_balancer_pool_id</code>.
			</para>
		</wadl:doc>
		<request>
			<representation 
				mediaType="application/json">
				<wadl:doc xml:lang="EN">
					<xsdxt:code 
						href="../wadl/samples/rc3-LBPools-nodes-list1-details-request.json"/>
				</wadl:doc>
			</representation>
		</request>
		<response 
			status="200">
			<doc title="OK">Success.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/rc3-LBPools-nodes-list1-details-response.json"
					/>
				</wadl:doc>
			</representation>
		</response>
		<response status="400">
			<doc title="Bad request" xml:lang="EN">The input was not in the correct format.</doc>
			<representation mediaType="application/json"/>
		</response>
		<response status="404">
			<doc title="Not found" xml:lang="EN">The requested item was not found.</doc>
			<representation mediaType="application/json"/>
		</response>
		<response status="500">
			<doc title="Internal server error" xml:lang="EN">An unexpected error has occurred.</doc>
			<representation mediaType="application/json"/>
		</response>
	</method>
	<!--*******************************************************-->
	<!-- List details about all the nodes                       
	  	 in	one load balancer pool
		 id="LBPools-nodes-listall"-->
	<!--*******************************************************-->
	<method 
		id="LBPools-nodes-listall"
		name="GET">
		<wadl:doc 
			title="List the nodes in one load balancer pool"
			xml:lang="EN"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">
				List nodes for one load balancer pool. 
			</para>
			<para>This operation 
				lists the nodes in 
				one load balancer pool 
				identified by <code>load_balancer_pool_id</code>.
			</para>
		</wadl:doc>
		<request>
			<representation 
				mediaType="application/json">
				<wadl:doc xml:lang="EN">
					<xsdxt:code 
						href="../wadl/samples/rc3-LBPools-nodes-listall-request.json"/>
				</wadl:doc>
			</representation>
		</request>
		<response 
			status="200">
			<doc title="OK">Success.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/rc3-LBPools-nodes-listall-response.json"
					/>
				</wadl:doc>
			</representation>
		</response>
	</method>
	<!--*******************************************************-->
	<!-- List details about all the nodes 
		 in one load balancer pool 
		 id="LBPools-nodes-listall-details"-->
	<!--*******************************************************-->
	<method 
		id="LBPools-nodes-listall-details"
		name="GET">
		<wadl:doc 
			title="Show details for one load balancer pool"
			xml:lang="EN"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">
				List details for one load balancer pool. 
			</para>
			<para>This operation 
				provides detailed information about 
				all the nodes in 
				one load balancer pool 
				identified by <code>load_balancer_pool_id</code>.
			</para>
		</wadl:doc>
		<request>
			<representation 
				mediaType="application/json">
				<wadl:doc xml:lang="EN">
					<xsdxt:code 
						href="../wadl/samples/rc3-LBPools-nodes-listall-details-request.json"/>
				</wadl:doc>
			</representation>
		</request>
		<response 
			status="200">
			<doc title="OK">Success.</doc>
			<representation 
				mediaType="application/json">
				<wadl:doc 
					xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/rc3-LBPools-nodes-listall-details-response.json"
					/>
				</wadl:doc>
			</representation>
		</response>
		<response status="400">
			<doc title="Bad request" xml:lang="EN">The input was not in the correct format.</doc>
			<representation mediaType="application/json"/>
		</response>
		<response status="404">
			<doc title="Not found" xml:lang="EN">The requested item was not found.</doc>
			<representation mediaType="application/json"/>
		</response>
		<response status="500">
			<doc title="Internal server error" xml:lang="EN">An unexpected error has occurred.</doc>
			<representation mediaType="application/json"/>
		</response>
	</method>
	<!--+++++ methods related to public IPs               +++++-->
	<!--*******************************************************-->
	<!-- Add one public IP 
		 id="publicIPs-add1"-->
	<!--*******************************************************-->
	<method 
		id="publicIPs-add1"
		name="POST">
		<wadl:doc 
			title="Add one public IP"
			xml:lang="EN" 
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">
				Add one public IP address. 
			</para>
			<para>This operation 
				provisions a new
				public IP 
				address for the specified <code>tenant_id</code>.
			</para>
		</wadl:doc>
		<request>
			<representation 
				mediaType="application/json">
				<wadl:doc xml:lang="EN">
					<xsdxt:code 
						href="../wadl/samples/rc3-publicIPs-add1-request.json"/>
				</wadl:doc>
			</representation>
		</request>
		<response 
			status="200" 
			xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="OK" xml:lang="EN">Success.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/rc3-publicIPs-add1-response.json"
					/>
				</wadl:doc>
			</representation>
		</response>
		<response status="400">
			<doc title="Bad request" xml:lang="EN">The input was not in the correct format.</doc>
			<representation mediaType="application/json"/>
		</response>
		<response status="500">
			<doc title="Internal server error" xml:lang="EN">An unexpected error has occurred.</doc>
			<representation mediaType="application/json"/>
		</response>
	</method>
	<!--*******************************************************-->
	<!-- List all public IPs 
		 for one cloud server 
		 id="publicIPs-cloudServers-list1"-->
	<!--*******************************************************-->
	<method 
		id="publicIPs-cloudServers-list1"
		name="GET">
		<wadl:doc 
			title="List public IPs for a server"
			xml:lang="EN"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">
				List public IP addressess for a server. 
			</para>
			<para>This operation 
				lists all
				public IP addresses 
				for the specified <code>cloud_server_id</code>.
			</para>
		</wadl:doc>
		<request
			xmlns="http://wadl.dev.java.net/2009/02">
			<param 
				id="cloud_server_id" 
				style="query"
				type="xsd:string"
				required="true"
				xmlns="http://wadl.dev.java.net/2009/02"/>
			<representation 
				mediaType="application/json">
				<wadl:doc xml:lang="EN">
					<xsdxt:code 
						href="../wadl/samples/rc3-publicIPs-listall-request.json"/>
				</wadl:doc>
			</representation>
		</request>
		<response 
			status="200" 
			xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="OK" xml:lang="EN">Success.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/rc3-publicIPs-listall-response.json"
					/>
				</wadl:doc>
			</representation>
		</response>
		<response status="400">
			<doc title="Bad request" xml:lang="EN">The input was not in the correct format.</doc>
			<representation mediaType="application/json"/>
		</response>
		<response status="404">
			<doc title="Not found" xml:lang="EN">The requested item was not found.</doc>
			<representation mediaType="application/json"/>
		</response>
		<response status="500">
			<doc title="Internal server error" xml:lang="EN">An unexpected error has occurred.</doc>
			<representation mediaType="application/json"/>
		</response>
	</method>
	<!--*******************************************************-->
	<!-- Delete one public IP 
		 id="publicIPs-delete1"-->
	<!--*******************************************************-->
	<method 
		id="publicIPs-delete1"
		name="DELETE">
		<wadl:doc 
			title="Delete one public IP address"
			xmlns="http://docbook.org/ns/docbook"
			xml:lang="EN">
			<para role="shortdesc">
				Delete one public IP address. 
			</para>
			<para>This operation 
				deletes 
				the public IP 
				address identified by the specified <code>public_IP_id</code>.
			</para>
		</wadl:doc>
		<!-- no request body = no sample request -->
		<!-- no response body = no sample response -->
	</method>
	<!--*******************************************************-->
	<!-- List details about one public IP 
		 id="publicIPs-list1"-->
	<!--*******************************************************-->
	<method 
		id="publicIPs-list1"
		name="GET">
		<wadl:doc 
			title="List one public IP adresses"
			xmlns="http://docbook.org/ns/docbook"
			xml:lang="EN">
			<para role="shortdesc">
				List details for one public IP address. 
			</para>
			<para>This operation 
				lists details for 
				one public IP address
				identified by the specified <code>public_IP_id</code>.
			</para>
		</wadl:doc>
		<request>
			<representation 
				mediaType="application/json">
				<wadl:doc xml:lang="EN">
					<xsdxt:code 
						href="../wadl/samples/rc3-publicIPs-list1-request.json"/>
				</wadl:doc>
			</representation>
		</request>
		<response 
			status="200"
			xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="OK">Success.</doc>
			<representation 
				mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/rc3-publicIPs-list1-response.json"
					/>
				</wadl:doc>
			</representation>
		</response>
		<response status="400">
			<doc title="Bad request" xml:lang="EN">The input was not in the correct format.</doc>
			<representation mediaType="application/json"/>
		</response>
		<response status="404">
			<doc title="Not found" xml:lang="EN">The requested item was not found.</doc>
			<representation mediaType="application/json"/>
		</response>
		<response status="500">
			<doc title="Internal server error" xml:lang="EN">An unexpected error has occurred.</doc>
			<representation mediaType="application/json"/>
		</response>
	</method>
	<!--*******************************************************-->
	<!-- List all public IPs 
		 id="publicIPs-listall"-->
	<!--*******************************************************-->
	<method 
		id="publicIPs-listall"
		name="GET">
		<wadl:doc 
			title="List all public IP addresses"
			xml:lang="EN" 
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">
				List details for all public IP addresses. 
			</para>
			<para>This operation 
				lists details for 
				all public IP addresses 
				available to the specified<code>tenant_id</code>.
			</para>
		</wadl:doc>
		<request>
			<representation 
				mediaType="application/json">
				<wadl:doc xml:lang="EN">
					<xsdxt:code 
						href="../wadl/samples/rc3-publicIPs-listall-request.json"/>
				</wadl:doc>
			</representation>
		</request>
		<response 
			status="200" 
			xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="OK" xml:lang="EN">Success.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/rc3-publicIPs-listall-response.json"
					/>
				</wadl:doc>
			</representation>
		</response>
		<response status="400">
			<doc title="Bad request" xml:lang="EN">The input was not in the correct format.</doc>
			<representation mediaType="application/json"/>
		</response>
		<response status="404">
			<doc title="Not found" xml:lang="EN">The requested item was not found.</doc>
			<representation mediaType="application/json"/>
		</response>
		<response status="500">
			<doc title="Internal server error" xml:lang="EN">An unexpected error has occurred.</doc>
			<representation mediaType="application/json"/>
		</response>
	</method>
	<!--=======================================================-->
	<!-- METHODS end here -->
	<!--=======================================================-->
</application>
