src/wadl/rackconnect.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2012 OpenStack LLC., All Rights Reserved -->

<application 
	xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
	xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
	xmlns:raxapi="http://docs.rackspace.com/volume/api/v1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--=======================================================-->
  <!-- RESOURCES begin here;
            RESOURCES call METHODS 
            defined in METHODS section-->
  <!--=======================================================-->
	
  	<!-- endpoint = 
  	https://<region>.rackconnect.api.rackspacecloud.com/v3/tenantId/
    per 
    http://www.rackspace.com/knowledge_center/article/
  		rackconnect-v30-api-add-and-remove-public-ip-addresses
  	-->
<resources base="https://dfw.rackconnect.api.rackspacecloud.com/">
    <resource id="version" path="v3/">
        <resource id="tenant_id" path="{tenant_id}">
	        <param name="tenant_id" style="template"
	        	type="xsd:string">
	            <wadl:doc xmlns="http://docbook.org/ns/docbook">
	                 <para>
	      The unique identifier of the tenant or account
	      in a multi-tenancy cloud.
	    			 </para>
	  			</wadl:doc>
			</param>
        	
	<resource id="cloud_networks" path="cloud_networks">
	  <wadl:doc title="Cloud Networks"/>   
	  <method href="#listAllNetworks" />
	  
	  <resource path="{id}" id="network_id">
	    <param name="id" style="template"
	    	type="xsd:string">
	      <wadl:doc xmlns="http://docbook.org/ns/docbook">
	      	<para>
		The unique identifier of a network.
	      </para>
	      </wadl:doc>
	    </param>
	    
	  	<method href="#retrieve1Network" />
	    
	  </resource>
	</resource>

      </resource>
    </resource>
  </resources>
	<!--=======================================================-->
	<!-- RESOURCES end here -->
	<!--=======================================================-->
	<!--=======================================================-->
	<!-- METHODS begin here 
	          METHODS are called by RESOURCES 
	          defined in RESOURCES section-->
	<!--=======================================================-->
	<!--*******************************************************-->
	<!-- List all networks -->
	<!--*******************************************************-->
	<method name="GET" id="listAllNetworks">
		<wadl:doc xml:lang="EN" title="List all cloud networks"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">
				List details for all cloud networks. 
			</para>
			<para>This operation 
				lists details for 
				all cloud networks 
				available to <code>tenant_id</code>.
			</para>
		</wadl:doc>
		<!-- no request body = no sample request -->
		<response status="200" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="OK" xml:lang="EN">Success.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/rc3-allVolumes-response.json"
					/>
				</wadl:doc>
			</representation>
		</response>
	</method>
	<!--*******************************************************-->
	<!-- List details about one network -->
	<!--*******************************************************-->
	<method name="GET" id="retrieve1Network">
		<wadl:doc xml:lang="EN" title="Retrieve one cloud network"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">
				List details for one cloud network. 
			</para>
			<para>This operation 
				lists details for 
				one cloud network 
				identified by <code>id</code>.
			</para>
		</wadl:doc>
		<!-- no request body = no sample request -->
		<response status="200" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="OK" xml:lang="EN">Success.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/rc3-allVolumes-response.json"
					/>
				</wadl:doc>
			</representation>
		</response>
	</method>
	<!--=======================================================-->
	<!-- METHODS end here -->
	<!--=======================================================-->
</application>
