src/wadl/rackconnect.wadl

<?xml version="1.0" encoding="UTF-8"?>

<!-- (C) 2012 OpenStack LLC., All Rights Reserved -->

<application 
	xmlns="http://wadl.dev.java.net/2009/02"
    xmlns:wadl="http://wadl.dev.java.net/2009/02"
	xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
	xmlns:raxapi="http://docs.rackspace.com/volume/api/v1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!--=======================================================-->
  <!-- RESOURCES begin here;
            RESOURCES call METHODS 
            defined in METHODS section-->
  <!--=======================================================-->
	
  	<!-- endpoint = 
  	https://<region>.rackconnect.api.rackspacecloud.com/v3/tenantId/
    per 
    http://www.rackspace.com/knowledge_center/article/
  		rackconnect-v30-api-add-and-remove-public-ip-addresses
  	-->
<resources base="https://dfw.rackconnect.api.rackspacecloud.com/">
    <resource 
    	id="version" 
    	path="v3">
        <resource 
        	id="tenant_id" 
        	path="{tenant_id}">
	        <param name="tenant_id" 
	        	style="template"
	        	required="true" 
	        	type="xsd:string">
	            <wadl:doc xmlns="http://docbook.org/ns/docbook">
	                 <para>
	      				The unique identifier of the tenant or account
	     			    in a multi-tenancy cloud.
	    			 </para>
	  			</wadl:doc>
			</param>
    <!-- ========================================= -->
    <!-- resources for *cloud networks* begin here -->    	
	<resource 
		id="cloud_networks" 
		path="cloud_networks">
	  <wadl:doc title="Cloud networks"/>   
	  <method href="#listAllNetworks" />
	  
		<resource 
			id="network_id" 
			path="{network_id}" >
	    	<param name="network_id" 
	    		style="template"
	    		required="true"
	    		type="xsd:string">
	     	<wadl:doc xmlns="http://docbook.org/ns/docbook">
	      		<para>
					The unique identifier of a network.
	      		</para>
	       </wadl:doc>
		   </param>
	  	<method href="#retrieve1Network" />
	  </resource>
		
	</resource>
    <!-- resources for *cloud networks* end here --> 
    <!-- ========================================= -->
    <!-- resources for *load balancer pools* begin here -->    	
    <resource 
    	id="load_balancer_pools" 
    	path="load_balancer_pools">
      <wadl:doc title="Load balancer pools"/>   
        		<method href="#listAllLBPools" />

    	<resource 
    		id="load_balancer_pool_id" 
    		path="{load_balancer_pool_id}">
    		<param name="load_balancer_pool_id" 
    			style="template"
    			required="true"
    			type="xsd:string">
    			<wadl:doc xmlns="http://docbook.org/ns/docbook">
    				<para>
    					The unique identifier of a load balancer pool.
    				</para>
    			</wadl:doc>
    		</param>
    		<method href="#retrieve1LBPool" />
    	</resource>

     </resource>
    <!-- resources for *load balancer pools* end here -->
    <!-- ========================================= -->
    <!-- resources for *public IPs* begin here -->    	
    <resource 
    	id="public_ips" 
    	path="public_ips">
      <wadl:doc title="Public IPs"/>   
    	<method href="#listAllPublicIPs" />
    	<method href="#add1PublicIP" />
    	
    	<resource 
    		id="cloud_server_id" 
    		path="cloud_server_id">
	  <!--  	<resource path="{cloud_server_UUID}" id="cloud_server_UUID"> -->
	    		<param name="cloud_server_UUID" 
	    			style="query"
	    			required="true"
	    			type="xsd:string">
	    			<wadl:doc xmlns="http://docbook.org/ns/docbook">
	    				<para>
	    					The UUID of a cloud server.
	    				</para>
	    			</wadl:doc>
	    		</param>
	    		<method href="#listPublicIPs1server" />
	<!--    	</resource> -->
    	</resource>
    	
    </resource>
    <!-- resources for *public IPs* end here -->
    <!-- ========================================= -->
      </resource>
    </resource>
  </resources>
	<!--=======================================================-->
	<!-- RESOURCES end here -->
	<!--=======================================================-->
	<!--=======================================================-->
	<!-- METHODS begin here 
	          METHODS are called by RESOURCES 
	          defined in RESOURCES section-->
	<!--=======================================================-->
	<!--*******************************************************-->
	<!-- List all networks -->
	<!--*******************************************************-->
	<method name="GET" id="listAllNetworks">
		<wadl:doc xml:lang="EN" title="List all cloud networks"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">
				List details for all cloud networks. 
			</para>
			<para>This operation 
				lists details for 
				all cloud networks 
				available to <code>tenant_id</code>.
			</para>
		</wadl:doc>
		<!-- no request body = no sample request -->
		<response status="200" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="OK" xml:lang="EN">Success.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/rc3-allNetworks-response.json"
					/>
				</wadl:doc>
			</representation>
		</response>
	</method>
	<!--*******************************************************-->
	<!-- List details about one network -->
	<!--*******************************************************-->
	<method name="GET" id="retrieve1Network">
		<wadl:doc 
			title="Retrieve one cloud network"
			xmlns="http://docbook.org/ns/docbook"
			xml:lang="EN">
			<para role="shortdesc">
				List details for one cloud network. 
			</para>
			<para>This operation 
				lists details for 
				one cloud network 
				identified by <code>network_id</code>.
			</para>
		</wadl:doc>
		<!-- no request body = no sample request -->
		<response status="200">
			<doc title="OK">Success.</doc>
			<representation mediaType="application/json">
			<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/rc3-1Network-response.json"
					/>
			</wadl:doc>
			</representation>
		</response>
	</method>
	
	<!--*******************************************************-->
	<!-- List all load balancer pools -->
	<!--*******************************************************-->
	<method name="GET" id="listAllLBPools">
		<wadl:doc xml:lang="EN" title="List all load balancer pools"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">
				List details for all load balancer pools. 
			</para>
			<para>This operation 
				lists details for 
				all load balancer pools 
				available to <code>tenant_id</code>.
			</para>
		</wadl:doc>
		<!-- no request body = no sample request -->
		<response status="200" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="OK" xml:lang="EN">Success.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/rc3-allLBPools-response.json"
					/>
				</wadl:doc>
			</representation>
		</response>
	</method>
	<!--*******************************************************-->
	<!-- List details about one load balancer pool -->
	<!--*******************************************************-->
	<method name="GET" id="retrieve1LBPool">
		<wadl:doc 
			title="Retrieve one load balancer pool"
			xmlns="http://docbook.org/ns/docbook"
			xml:lang="EN">
			<para role="shortdesc">
				List details for one load balancer pool. 
			</para>
			<para>This operation 
				lists details for 
				one load balancer pool 
				identified by <code>load_balancer_pool_id</code>.
			</para>
		</wadl:doc>
		<!-- no request body = no sample request -->
		<response status="200">
			<doc title="OK">Success.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/rc3-1LBPool-response.json"
					/>
				</wadl:doc>
			</representation>
		</response>
	</method>
	<!--*******************************************************-->
	<!-- List all public IPs -->
	<!--*******************************************************-->
	<method name="GET" id="listAllPublicIPs">
		<wadl:doc xml:lang="EN" title="List all public IPs"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">
				List details for all public IPs. 
			</para>
			<para>This operation 
				lists details for 
				all public IPs 
				available to <code>tenant_id</code>.
			</para>
		</wadl:doc>
		<!-- no request body = no sample request -->
		<response status="200" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="OK" xml:lang="EN">Success.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/rc3-allPublicIPs-response.json"
					/>
				</wadl:doc>
			</representation>
		</response>
	</method>
	<!--*******************************************************-->
	<!-- Add one public IP -->
	<!--*******************************************************-->
	<method name="POST" id="add1PublicIP">
		<wadl:doc xml:lang="EN" title="Add one public IP"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">
				Add one public IP. 
			</para>
			<para>This operation 
				provisions a new
				public IP 
				for <code>tenant_id</code>.
			</para>
		</wadl:doc>
		<request>
			<representation mediaType="application/json">
				<wadl:doc xml:lang="EN">
					<xsdxt:code 
						href="../wadl/samples/rc3-addPublicIP-request.json"/>
				</wadl:doc>
			</representation>
		</request>
		<response status="200" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="OK" xml:lang="EN">Success.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/rc3-addPublicIP-response.json"
					/>
				</wadl:doc>
			</representation>
		</response>
	</method>
	<!--*******************************************************-->
	<!-- List all public IPs for one cloud server -->
	<!--*******************************************************-->
	<method name="GET" id="listPublicIPs1server">
		<wadl:doc xml:lang="EN" title="List public IPs for a server"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">
				List public IPs for a server. 
			</para>
			<para>This operation 
				lists all
				public IPs 
				for <code>cloud_server_id</code>.
			</para>
		</wadl:doc>
		<!-- no request body = no sample request -->
		<response status="200" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="OK" xml:lang="EN">Success.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/rc3-allPublicIPs1server-response.json"
					/>
				</wadl:doc>
			</representation>
		</response>
	</method>
	<!--=======================================================-->
	<!-- METHODS end here -->
	<!--=======================================================-->
</application>
